body {

  background-color: #c8d6e5;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  margin-top: 30px;
  margin-bottom: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
main{
  background-color: darkcyan;
}
h1{
  padding-top: 10px;
}
.container{
  /* border-top-width: 30px; */
    padding-top: 20px;
}

#itemstotal{
  display: flex;
  justify-content: space-between;
}
#totalcost{
  display: flex;
  justify-content: space-between;
}
#button-checkout{
  display: flex;
  justify-content: center;

}
#button-checkout>button{
 padding-left: 50px;
 padding-right: 50px;
 margin-bottom: 10px;
}
.main-footer {
  background-color: #10ac84;
  color: white;
  padding: .25em 0;
  margin-top: 64px;
}

.main-footer-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}
#logolist{
  justify-content: flex-end;
}